
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
main{
  background: url('images/backgound.jpg') rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  z-index: 12;
}


@media(max-width: 991px) {
  .sidebar{
      background-color: rgba(255, 255, 255, 0.291);
      backdrop-filter: blur(10px);
  }
  .esc {
    font-size: 1.9rem;
  }
}
.nav-item a{
  color: black;
  padding: 15px 10px;
	color: rgba(7, 4, 4, 0.829);
	transition: 0.5s;
  
}
.nav-item a:hover{
  color: rgba(46, 46, 229, 0.614);
  border-bottom: 1.4px solid #264b8fb6;
  transition: 0.25s; 
}

.nav-link,.about{
  font-size: 17.5px;
}
.ByimanaLogo {
  height: 50px;
  width: 60px;
  object-fit: contain;
  margin-left: 8px;
}

.consience{
  color: #FFFFFFAD;
  font-size: 20px;
}
.card{
  height: 250px;
  line-height: 19px;
  border: none;
}
p{
  font-size: 15px;
}
.card1{
  /* background: linear-gradient(220.55deg, #7CF7FF 0%, #4B73FF 100%); */
}
.cardp1,.cardp2,.cardp3,.cardp4 {
  border-left: 2px solid indigo;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardp1 p{
  color: rgba(40, 124, 124, 0.94);
  font-weight: 600;
}

.card2{
  background: linear-gradient(220.55deg, #e646ff30 0%, #FF7EC7 100%);
}
.cardp2 p{
  color: rgb(17, 56, 3);
  font-weight: 800;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card3{
  background: linear-gradient(220.55deg, #FFD439 0%, #ff7b0053 100%);
}

.cardp3 p{
  color: rgba(40, 124, 124, 0.94);
  font-weight: 600;
}
.card4{
  /* background: linear-gradient(220.55deg, #565656 0%, #181818 100%); */
}
.cardp4 p{
  color: rgba(86, 85, 85, 0.94);
  font-weight: 600;
  line-height: 20px;
}
.card-body{
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.card1,.card2,.card3,.card4{
  z-index: 999;
}
.cardPar1{
  height: 100%;
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: black;
  animation: animea 3s ease-out 1s 5 normal none;
}
@keyframes animea{
  from{
    transform: translateX(300px);
    background: rgba(255, 255, 255, 0.291);
    color: rgba(0, 0, 0, 0.185);
  }
  to{
    transform: translateX(0);
    background: #fff;
    
  }

}
footer{
  background: #000000D9;
}
i{
  margin-right: 10px;
  font-size: 20px;
}
.hfoot{
  font-size: 12px;
  font-family :"Source Sans Pro", Arial, sans;
}
.fotrprag{
  color: rgba(255, 255, 255, 0.616);
  font-size: 15px;
  font-weight: 400;
  font-family: "soure sans pro", Arial, sans-serif;
}

.link{
  color: #DBDBDB80;
  cursor: pointer;
  font-family :"Source Sans Pro", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
}
.arrow{
  color: #848387d0;
}
.missimg,.visimg,.goldimg,.valimg{
  height: 70px;
  width: 70px;
  border: none;
}
.mark{
  height: 120px;
  width: 170px;
  background: none;
}
.spinner-wrapper{
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200s;
}

.spinner-grow{
  height: 70px;
  width: 70px;
}
